* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

body {
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: gray;
}

.menu-my-name {
  display: flex;
}

.menu-bar-container {
  margin: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-around;
}

.menu-bar-right-container {
  display: flex;
  gap: 1rem;
}

.main-screen {
  margin: 1rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-screen p {
  max-width: 25vw;
  font: bolder;
  font-size: 2vw;
}

.main-screen img {
  width: 20vw;
  height: auto;
}

.main-screen span {
  flex: 0.1;
}
