* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  background-color: #ebb3a9;
}

a {
  text-decoration: none;
  color: gray;
}

#blue {
  font-size: 20px;
  color: midnightblue;
}

.menu-my-name {
  display: flex;
}

.menu-bar-container {
  margin: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-around;
}

.menu-bar-right-container {
  display: flex;
  gap: 1rem;
}

.main-screen {
  /* margin: 1rem 0 0 0; */
  height: 85vh;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-screen p {
  max-width: 25vw;
  font: bolder;
  color: #eeebd0;
  font-size: 2vw;
}

.main-screen img {
  width: 20vw;
  height: auto;
  border-radius: 1rem;
}

.main-screen span {
  flex: 0.1;
}

.with_pic {
  display: flex;
  align-items: center;
  justify-content: left;
}

.with_pic p {
  color: midnightblue;
  flex: 0.4;
}

.with_pic p span {
  color: #eeebd0;
}

.with_pic img {
  width: 10vh;
}
